<!-- Selectors Pattern -->
<div class="selectors">
  <header>
    <h1>Fendtek</h1>
    <p>Kurs i frontend teknologier</p>
  </header>
  <main>
    <article>
      <h1>Lorem ipsum dolor sit amet</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at numquam optio doloremque excepturi libero vero vel ratione, ad deserunt dignissimos praesentium, omnis est veritatis saepe repudiandae laboriosam error. Voluptates.</p>
      <p>Doloribus saepe quod quasi amet sint ullam qui fuga in sapiente totam sit eum eaque officiis possimus, molestias impedit ipsa, sequi? Est pariatur, rerum laborum unde maiores minus vel distinctio.</p>
      <p>Id, <a href="">voluptatem</a>, qui. Nisi, dignissimos. Aliquid quaerat quae amet obcaecati id nemo animi commodi, cupiditate et, molestiae iste nam ipsum quia voluptates eaque reprehenderit minus eum fugiat tenetur libero aspernatur.</p>
      <p>Dolorem qui quos, officiis illum nulla ullam obcaecati, aspernatur dicta quis. Incidunt numquam dicta molestias repellat, cum, deserunt dolor, culpa corporis at provident ex laudantium officiis assumenda recusandae error illo.</p>
      <ul id="list" class="min-liste liste lister">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit earum molestiae quod, tempora at possimus exercitationem sequi quo. <a href="">Doloremque</a> expedita vero aliquam exercitationem cum inventore, nesciunt doloribus veniam dolor! Obcaecati.</li>
        <li>
          <p>Eos itaque non <a href="">repellat accusamus</a> vel in deserunt! Repudiandae, ut? Consectetur, nihil.</p>
          <p>Quam et, cumque est labore, saepe blanditiis error distinctio ab quo cupiditate iste, natus iure, nemo illo necessitatibus.</p>
        </li>
        <li>Vel quo dolorem deleniti hic aliquid iure repellat quibusdam ullam. Alias corporis unde quos aspernatur ut eveniet hic earum a! Nam libero nemo dolor perferendis beatae velit iusto possimus incidunt.</li>
        <li>Placeat odit molestiae, consectetur quod tempora, minus ex cupiditate obcaecati dicta deserunt enim, amet quas corrupti autem asperiores doloribus rerum recusandae, necessitatibus! Nisi dignissimos, totam illo laboriosam magni amet iure.</li>
        <li>Neque, facilis beatae alias iure veniam accusamus temporibus! Obcaecati, commodi, quo. Libero magni ab similique, consectetur adipisci neque eius soluta distinctio! Repellat neque minima nam exercitationem cumque ex, aperiam, tempore.</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ducimus rem illo quod, ad. Sed cupiditate ducimus, doloremque inventore sunt laboriosam, illum molestiae dolorem nobis ipsum beatae error est tempore.</p>
      <p>Modi amet dolorum consequuntur, vero ab magnam sapiente blanditiis quas quos cum in numquam ex accusantium ad sint maiores. Veniam quia architecto repellat accusamus, consectetur inventore hic autem, deleniti minus.</p>
      <p>Consequatur eos aliquam atque consequuntur voluptates aperiam, tempore sit repellat ea? Fuga, sapiente placeat quaerat, error maiores corporis aliquid facilis repellendus doloremque recusandae, quasi! Ducimus odio, minus? Obcaecati, autem, ratione.</p>
    </article>
  </main>
  <nav>
    <ul id="nav" class="min-nav-liste lister">
      <li><a href="">Item 1</a></li>
      <li><a href="">Item 2</a></li>
      <li><a href="">Item 3</a></li>
      <li><a href="">Item 4</a></li>
      <li><a href="">Item 5</a></li>
    </ul>
  </nav>
</div>
