<!--
//////////////////////////////
// @{media-queries}
// Styling for Media-Queries Kurs
.media-queries {
  header, main, aside, nav, footer {
    background: #ddd;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    margin: 2%;
    padding: 1em;
  }
  @media all and (min-width: 600px) {
    main {
      float: left;
      width: 56%;
    }
    aside {
      float: left;
      width: 36%;
    }
    footer {
      clear: left;
    }
  }
}
// {media-queries}@
//////////////////////////////
-->
<div class="media-queries">
  <header>
    Header
  </header>
  <nav>
    Navigation
  </nav>
  <main>
    Main
  </main>
  <aside>
    Aside
  </aside>
  <footer>
    Footer
  </footer>
</div>